# docker compose config to run a development instance
# of the mediaserver tool

services:
  server:
    build: 
      dockerfile: Dockerfile.server
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${BACKEND_PORT}/health"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    working_dir: /app
    command: npm run dev
    env_file:
      - .env
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      MIGRATIONS_DIR: assets/db/migrations
      DEFAULT_THUMBNAIL_PATH: assets/icons/unknown_file.jpg
      DOCUMENT_STORE_CONFIG_PATH: assets/documentStoreConfig.json
      IGNORE_MIGRATION_CHECKSUM_MISMATCHES: true
      MAX_FILE_UPLOAD_SIZE: 2147483648 # 2GB
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - server_data:/store-0
      - /tmp:/tmp
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
      - ${WEBSOCKET_PORT}:${WEBSOCKET_PORT}

  frontend:
    image: node:20
    depends_on:
      server:
        condition: service_healthy
    restart: always
    working_dir: /app
    command: npm run dev
    environment:
      VITE_BACKEND_URL: "http://localhost:${BACKEND_PORT}"
      VITE_WEBSOCKET_URL: "ws://localhost:${WEBSOCKET_PORT}"
    ports:
      - 5173:5173

  postgres:
    image: postgres:16
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "dev"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  redis:
    image: redis:latest
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    env_file:
      - .env
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  server_dist:
  redis_data:
  server_data:
