.pagination {
  margin: 0.5rem;
  font-size: 1rem;

  li {
    a {
      transition: background-color 0.2s ease-in-out;
      color: rgb(217, 217, 217);
      padding: 0.25rem 0.75rem;
      border-radius: 5px;
      text-align: center;
    }

    &:global(.break) {
      a {
        cursor: default;
      }
    }

    &:not(:global(.break)) {
      a {
        cursor: pointer;
      }
    }

    &:not(:global(.disabled)):global(.next) a {
      color: #5087df;
    }

    &:not(:global(.disabled)):global(.previous) a {
      color: #5087df;
    }

    &:not(:global(.break)):not(:global(.disabled)) {
      a:hover {
        border: 1px solid #6b7280;
        padding: calc(0.25rem - 1px) calc(0.75rem - 1px);
      }
    }

    &:global(.selected) {
      a {
        background-color: #5087df;
      }
    }

    &:global(.disabled) {
      a {
        cursor: default;
        color: rgb(97, 97, 97);
      }
    }
  }
}