.pagination {
  margin: 0.5rem;
  font-size: 1.5rem;

  li {
    a {
      transition: background-color 0.2s ease-in-out;
      color: purple;
      padding: 0.25rem 0.75rem;
      border-radius: 5px;
    }

    &:global(.break) {
      a {
        cursor: default;
      }
    }

    &:not(:global(.break)) {
      a {
        cursor: pointer;
      }
    }

    &:not(:global(.break)):not(:global(.disabled)) {
      a:hover {
        background-color: #374151;
      }
    }

    &:global(.selected) {
      a {
        background-color: #374151;
      }
    }

    &:global(.disabled) {
      a {
        cursor: not-allowed;
      }
    }
  }
}