on: 
  push:
    branches:
      - main
      - develop

permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: https://registry.npmjs.org/

      - uses: paulhatch/semantic-version@v5.4.0
        id: version
        with:
          bump_each_commit: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN  }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Server Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./server
          file: ./server/Dockerfile
          tags: |
            treelabmediaserver/mediaserver-backend:${{ steps.version.outputs.version }}
            treelabmediaserver/mediaserver-backend:${{ github.ref_name == 'main' && 'stable' || 'unstable' }}
            ${{ github.ref_name == 'main' && 'treelabmediaserver/mediaserver-backend:latest' || '' }}

      - name: Build and push Frontend Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./frontend
          file: ./frontend/Dockerfile
          tags: |
            treelabmediaserver/mediaserver-web:${{ steps.version.outputs.version }}
            treelabmediaserver/mediaserver-web:${{ github.ref_name == 'main' && 'stable' || 'unstable' }}
            ${{ github.ref_name == 'main' && 'treelabmediaserver/mediaserver-web:latest' || '' }}

      - name: Publish frontend plugin types to NPM
        continue-on-error: true
        run: |
          cd frontend
          npm version ${{ steps.version.outputs.version }} --no-git-tag-version
          npm install
          npm publish --provenance --ignore-scripts --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish backend plugin types to NPM
        continue-on-error: true
        run: |
          cd server
          npm version ${{ steps.version.outputs.version }} --no-git-tag-version
          npm install
          npm publish --provenance --ignore-scripts --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
