on: 
  push:
    branches:
      - main
      - develop

permissions:
  contents: write

jobs:
  tag:
    runs-on: ubuntu-latest

    name: Tag Version

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: paulhatch/semantic-version@v5.4.0
        id: version

      - uses: rickstaa/action-create-tag@v1
        with:
          tag: v${{ steps.version.outputs.version }}
          message: "chore: release v${{ steps.version.outputs.version }}"
